AcceptPathInfo On

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule "(\/vendor\/)" - [F]
    RewriteRule "(\/node_modules\/)" - [F]
    RewriteRule "(composer\.json)" - [F]
    RewriteRule "(\.lock)" - [F]
    RewriteRule "(\/environment.xml)" - [F]
    RewriteRule "(\/install.xml)" - [F]
    RewriteRule "(\/README)" - [F]
    RewriteRule "(\/readme)" - [F]
    RewriteRule "(\/moodle_readme)" - [F]
    RewriteRule "(\/upgrade\.txt)" - [F]
    RewriteRule "(phpunit\.xml\.dist)" - [F]
    RewriteRule "(\/tests\/behat\/)" - [F]
    RewriteRule "(\/fixtures\/)" - [F]
	
    RewriteCond %{REQUEST_URI} !^/moodle/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /moodle/$1
    RewriteRule ^(/)?$ moodle/index.php [L]
</IfModule>
